include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include ssk_emart_customizations *.css
recursive-include ssk_emart_customizations *.csv
recursive-include ssk_emart_customizations *.html
recursive-include ssk_emart_customizations *.ico
recursive-include ssk_emart_customizations *.js
recursive-include ssk_emart_customizations *.json
recursive-include ssk_emart_customizations *.md
recursive-include ssk_emart_customizations *.png
recursive-include ssk_emart_customizations *.py
recursive-include ssk_emart_customizations *.svg
recursive-include ssk_emart_customizations *.txt
recursive-exclude ssk_emart_customizations *.pyc